<ion-header>
  <ion-navbar>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content padding>
	<ion-searchbar (ionInput)="findContact($event.target.value)" placeholder="Enter display name"></ion-searchbar>

	<ion-list [hidden]="!search">
        <ion-item-sliding *ngFor="let item of contactsFound">
		    <ion-item icon-right (click)="contactDetail(item)">{{item.displayName}}
                <button ion-button clear (click)="callNumber(item.phoneNumbers[0].value)">
                    <ion-icon name="call"></ion-icon>
                </button>
            </ion-item>
            <ion-item-options icon-left>
                <button ion-button (click)="remove(item)"><ion-icon name="trash"></ion-icon> Delete</button>
            </ion-item-options>
        </ion-item-sliding>
	</ion-list>

	<ion-list [hidden]="search">
        <ion-item>No contacts found</ion-item>
	</ion-list>

    <!-- Problem with "visible" -->
    <ion-fab bottom right [hidden]="!visible">
        <button ion-fab (click)="newContact()">Add</button>
    </ion-fab>
</ion-content>