<!--
  Generated template for the Addcontact page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="contactObject.displayName" placeholder="Enter Display Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="contactObject.nickName" placeholder="Enter Nick Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="contactObject.phoneNumber" placeholder="Enter Phone number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="contactObject.phoneType">
        <ion-option value="home">Mobile</ion-option>
        <ion-option value="work">Work</ion-option>
        <ion-option value="other">Other</ion-option>
      </ion-select>
    </ion-item>
	</ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button block (click)="addContact(contactObject)">Save</button>
</ion-footer>
