<ion-tabs selectedIndex="2">
  <ion-tab [root]="tab1Root" tabTitle="Speed Deal" tabIcon="call"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Recent" tabIcon="time"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
</ion-tabs>
