<!--
  Generated template for the ContactDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-avatar item-left>
                <!--img src="contact.photos[0]"-->
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <h2>{{contact.displayName}}</h2>
            <p>{{contact.nickname}}</p>
        </ion-item>
        <ion-row *ngFor="let phoneNumber of contact.phoneNumbers">
            <ion-col>
                {{phoneNumber.type}}
            </ion-col>
            <ion-col>
                {{phoneNumber.value}}
            </ion-col>
            <ion-col>
                <button ion-button clear (click)="callNumber(phoneNumber.value)"><ion-icon name="call"></ion-icon></button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
